/* place css fixes for all versions of IE in this conditional comment */
.twoColElsLt #sidebar1 {
    padding-top: 30px;
}

.twoColElsLt #mainContent {
    zoom: 1;
    padding-top: 15px;
}

/* the above proprietary zoom property gives IE the hasLayout it needs to avoid several bugs */